.form_section {
  padding-top: 70px;
  padding-bottom: 100px;
  text-align: center;
}

.form_wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 50px;
}

.label {
  position: absolute;
  top: 10px;
  left: 16px;
  color: $gisabledColor;
  transition: top 0.2s, background-color 0.2s, font-size 0.2s, color 0.2s;
}

.input {
  padding-left: 16px;
  padding-top: 14px;
  padding-bottom: 14px;
  background: $bgColor;
  color: $blackTextColor;
  border: 1px solid #d0cfcf;
  border-radius: 4px;
  outline: none;
  &:focus + .label,
  &:not(:placeholder-shown) + .label {
    top: -7px;
    background-color: $bgColor;
    @include font(500, 12, 14);
  }
  &.error {
    border-color: $errorColor;
    &:focus + .label,
    &:not(:placeholder-shown) + .label {
      top: -7px;
      background-color: $bgColor;
      @include font(500, 12, 14);
      color: $errorColor;
    }
  }
}

.errorText {
  position: absolute;
  bottom: -15px;
  left: 16px;
  @include font(400, 12, 14);
  color: $errorColor;
}

.maskText {
  position: absolute;
  bottom: -15px;
  left: 16px;
  @include font(400, 12, 14);
  color: $gisabledColor;
}

.select_title {
  text-align: left;
  margin-bottom: 11px;
}

.select_group {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 7px;
}

.check_label {
  padding-left: 32px;
}

.check_box {
  position: absolute;
  margin-top: 3px;
  margin-left: -32px;
  width: 20px;
  height: 20px;
  background-image: url("../../assets/check.svg");
}

.check_input:checked + .check_box {
  background-image: url("../../assets/checked.svg");
}

.upload_wrapper {
  display: flex;
  margin-bottom: 50px;
}
.upload_btn {
  padding: 14px 15px;
  color: $blackTextColor;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.87);
  border-radius: 4px 0px 0px 4px;
}

.upload_text {
  width: 100%;
  text-align: left;
  color: $gisabledColor;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 16px;
  border-top: 1px solid $borderColor;
  border-bottom: 1px solid $borderColor;
  border-right: 1px solid $borderColor;
  border-left: 1px solid transparent;
  border-radius: 0px 4px 4px 0px;
}
