$blackTextColor: rgba(0, 0, 0);
$blackOpacityColor: rgba(0, 0, 0, 0.87);
$whiteOpacityColor: rgba(255, 255, 255, 0.87);
$whiteColor: #ffffff;
$primaryColor: #f4e041;
$secondaryColor: #00bdd3;
$bgColor: #f8f8f8;
$btnHoverColor: #ffe302;
$gisabledColor: #b4b4b4;
$errorColor: #cb3d40;
