.users_section {
  padding-top: 70px;
  padding-bottom: 70px;
  text-align: center;
}
.user_title {
  @include font(400, 40, 40);
  margin-bottom: 50px;
}

.user_list {
  @include flex(flex, center, center);
  flex-direction: column;
  gap: 20px;
}
